// [data-aos="custom"] {
//   transform: translateX(100px);
//   opacity: 0;
//   transition: all .5s ease-in-out;
// }

// [data-aos="custom"].aos-animate {
//   transform: translateX(0);
//   opacity: 1;
// }

[data-aos="custom"] .card:nth-child(1) {
  transform: translateX(-300px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

[data-aos="custom"] .card:nth-child(2) {
  transform: translate(0, 200px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

[data-aos="custom"] .card:nth-child(3) {
  transform: translateX(300px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

[data-aos="custom"].aos-animate .card:nth-child(1) {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: .4s;
}

[data-aos="custom"].aos-animate .card:nth-child(2) {
  transform: translate(0, -72px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: .8s;

  @include tablet {
    transform: translate(0, 0);
  }
}

[data-aos="custom"].aos-animate .card:nth-child(3) {
  transform: translateX(0px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: 1.2s;
}


// [data-aos="heart"] {
//   transform: scale(1.32);
// }

// [data-aos="heart"].aos-animate {
//   transform: scale(1.67);
//   transition-duration: 4.5s !important;
// }

[data-aos="section-for"] .for__item:nth-child(1) {
  transform: translate(-500px, -4px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

  @include xl-mobile {
    transform: translate(-150px, 0px);
  }
}
[data-aos="section-for"].aos-animate .for__item:nth-child(1) {
  transform: translate(-27px, -4px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: .4s;

  @include tablet {
    transform: translate(0px, -4px);
  }

  @include small-tablet {
    transform: translate(10px, -4px);
  }

  @include xl-mobile {
    transform: translate(0px, 0px);
  }
}


[data-aos="section-for"] .for__item:nth-child(2) {
  transform: translate(500px, -218px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

  @include xl-mobile {
    transform: translate(150px, 0px);
  }
}
[data-aos="section-for"].aos-animate .for__item:nth-child(2) {
  transform: translate(250px, -218px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: .8s;

  @include small-tablet {
    transform: translate(185px, -60px);
  }

  @include xl-mobile {
    transform: translate(0px, 0px);
  }
}


[data-aos="section-for"] .for__item:nth-child(3) {
  transform: translate(-500px, -218px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

  @include xl-mobile {
    transform: translate(-150px, 0px);
  }
}
[data-aos="section-for"].aos-animate .for__item:nth-child(3) {
  transform: translate(30px, -218px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: 1.2s;

  @include tablet {
    transform: translate(0px, -300px);
  }

  @include small-tablet {
    transform: translate(-65px, -190px);
  }

  @include xl-mobile {
    transform: translate(0px, 0px);
  }
}


[data-aos="section-for"] .for__item:nth-child(4) {
  transform: translate(500px, -463px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

  @include xl-mobile {
    transform: translate(150px, 0px);
  }
}
[data-aos="section-for"].aos-animate .for__item:nth-child(4) {
  transform: translate(37px, -463px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: 1.6s;

  @include tablet {
    transform: translate(100px, -463px);
  }

  @include small-tablet {
    transform: translate(20px, -270px);
  }

  @include xl-mobile {
    transform: translate(0px, 0px);
  }
}


[data-aos="section-for"] .for__item:nth-child(5) {
  transform: translate(1px, 100px);
  opacity: 0;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;

}
[data-aos="section-for"].aos-animate .for__item:nth-child(5) {
  transform: translate(1px, -454px);
  opacity: 1;
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
  transition-delay: 2s;

  @include tablet {
    transform: translate(0px, -650px);
  }

  @include small-tablet {
    transform: translate(0, -390px);
  }

  @include xl-mobile {
    transform: translate(0px, 0px);
  }
}








