.footer {
  padding-top: 60px;
  padding-bottom: 105px;
  background-color: #3a3a3a;

  &__top {
    display: flex;
  }

  &__logo {
    font-family: 'Muller';
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--white-color);
  }

  &__list {
    display: flex;
    margin-left: 86px;
    column-gap: 81px;
  }

  &__item {

    display: flex;
    flex-direction: column;
    row-gap: 32px;
    font-size: 18px;
    line-height: 20px;
    color: var(--white-color);
  }

  &__link {
    position: relative;
    color: var(--white-color);
    transition: all .3s;

    &:hover {
      color: var(--green-color);
    }

    &:focus {
      outline: none;
      color: var(--green-color);
    }

    &:active {
      color: var(--green-color);
    }

    &-info {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2px;
  }

  &__rights {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__btn {
    border: 1px solid var(--white-color);
    border-radius: 29px;
    padding: 15px 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--white-color);
    transition: all .3s;

    &:hover {
      border: 1px solid var(--green-color);
      color: var(--green-color);
    }

    &:focus {
      border: 1px solid var(--green-color);
      outline: none;
      color: var(--green-color);
    }

    &:active {
      border: 1px solid var(--green-color);
      color: var(--green-color);
    }
  }
}

.social {
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: var(--white-color);
  }

  &__inner {
    display: flex;
    column-gap: 33px;
  }

  &__link {
    svg {
      path {
        transition: all .3s;
      }

      &:hover {
        path {
          fill: var(--green-color);
        }
      }


    }

    &:focus {
      outline: none;

      svg path {
        fill: var(--green-color);
      }
    }

    &:active {
     svg path {
        fill: var(--green-color);
      }
    }
  }
}
