.free {
  padding-bottom: 160px;

  @include small-tablet {
    padding-bottom: 80px;
  }

  &__text {
    display: block;
    text-align: center;
    font-size: 24px;
    opacity: 0.6;

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__trains {
    display: inline-block;
    padding: 16px 43px;
  }

  &__tariffs {
    margin-left: 20px;
    display: inline-block;
    padding: 15px 46px;
  }

  &__center {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @include mobile {
      margin-top: 40px;
    }
  }

  &__image {
    position: relative;

    @include small-tablet {
      width: 455px;
    }

    @include mobile {
      width: 350px;
    }

    @include mini-mobile {
      width: 290px;
    }
  }


  &__picture {
    display: flex;
  }

  &__img {
    display: flex;
  }

  &__background {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 31, 0.16);
    backdrop-filter: blur(4px);
  }

  &__round {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 39%;
    left: 39%;
    z-index: 100;
    animation: 6s linear 0s infinite round-text-animation;

    @include small-tablet {
      top: 36%;
      left: 35%;
    }

    @include mobile {
      top: 31%;
      left: 31%;
    }

    @include mini-mobile {
      top: 27%;
      left: 27%;
    }
  }

  &__letter {
    position: absolute;
    left: 65px;
    font-family: "Muller";
    font-weight: 400;
    font-size: 18px;
    transform-origin: 0 65px;
    color: var(--white-color);
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      width: 44px;
      height: 44px;

      path {
        fill: var(--green-color);
      }

      @include mobile {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__buttons {
    margin-top: 60px;
    text-align: center;

    @include small-tablet {
      display: flex;
      margin-top: 40px;
    }

  }

  &__trains {
    @include xl {
      margin-right: 20px;
    }

    @include small-tablet {
      margin-right: 15px;
      padding: 12px 15px;
      width: 49%;
    }

    @include mobile {
      margin-right: 10px;
      padding: 12px 15px;
      font-size: 16px;
    }

    @include mini-mobile {
      margin-right: 5px;
      padding: 10px 10px;
      font-size: 12px;
    }
  }

  &__tariffs {
    @include xl {
      margin-left: 0;
    }

    @include small-tablet {
      width: calc(49% - 15px);
      padding: 12px 15px;
    }

    @include mobile {
      width: calc(49% - 10px);
      font-size: 16px;
    }

    @include mini-mobile {
      width: calc(49% - 5px);
      padding: 10px 10px;
      font-size: 12px;
    }
  }
}
