.hero {
  padding-top: 100px;
  padding-bottom: 160px;


  @include xl {
    padding-top: 30px;
  }

  @include small-tablet {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  &__container {
    display: flex;

    @include xxl {
      justify-content: space-between;
    }

    @include xl {
      flex-direction: column;
    }
  }

  &__text {
    margin-right: 10%;
    padding-top: 65px;
    width: 49.3%;

    @include xxl {
      margin-right: 0%;
    }

    @include xl {
      margin-bottom: 90px;
      padding-top: 0;
      width: 70%;
    }

    @include small-tablet {
      width: 100%;
    }

    @include mobile {
      margin-bottom: 50px;
    }
  }


  &__image {
    position: relative;
    width: calc(100% - 49.3% - 10%);

    @include xl {
      width: 85%;
    }

    @include small-tablet {
      width: 84%;
    }

    @include mobile {
    }

    picture {
      display: flex;

      img {
        @include xl {
          width: 100%;
          height: 600px;
          object-fit: cover;
        }

        @include tablet {
          width: 100%;
          height: 500px;
        }

        @include small-tablet {
          height: 498px;
        }

        @include mobile {
          height: auto;
        }
      }
    }
  }

  &__date {
    display: block;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    @include small-tablet {
      font-size: 18px;
      margin-bottom: 10px;
    }

    @include mobile {
      font-size: 14px;
      margin-bottom: 5px;
    }

    @include mini-mobile {
      font-size: 12px;
    }
  }

  &__subject {
    display: flex;
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 40px;
    font-family: "FuturaPT";
    font-weight: 450;
    font-size: 48px;
    line-height: 50px;


    @include small-tablet {
      font-size: 48px;
      margin-bottom: 25px;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 30px;
    }

    @include mini-mobile {
      font-size: 26px;
    }

    &--green {
      display: inline-block;
      color: rgba(221, 255, 81, 1);
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(30, 30, 31, 0.8);

    @include small-tablet {
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 20px;
      font-size: 14px;
    }

    @include mini-mobile {
      font-size: 12px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3%;

    @include xl {
      display: flex;
      column-gap: unset;
    }
  }

  &__course {
    padding: 16px 30px;

    @include xl {
      margin-right: 20px;
      width: 278px;
    }

    @include small-tablet {
      margin-right: 15px;
      width: 43%;
    }

    @include mobile {
      margin-right: 10px;
      padding: 12px 15px;
      width: 45%;
      font-size: 16px;
    }

    @include mini-mobile {
      margin-right: 5px;
      padding: 10px 10px;
      width: 49%;
      font-size: 14px;
    }

  }

  &__programm {
    padding: 16px 30px;

    @include xl {
      width: 278px;
    }

    @include small-tablet {
      width: 43%;
    }

    @include mobile {
      padding: 12px 15px;
      width: 45%;
      font-size: 16px;
    }

    @include mini-mobile {
      width: calc(49% - 5px);
      padding: 10px 10px;
      font-size: 12px;
    }
  }

  &__picture {
    filter: drop-shadow(0px 0px 49px #CEFF06);
    border-radius: 10px;
  }

  &__round {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    z-index: 5;
    animation: 6s linear 0s infinite round-text-animation;

    @include xl {
      left: auto;
      right: -43px;
    }

    @include mobile {
      right: -47px;
    }
  }

  &__letter {
    display: block;
    position: absolute;
    z-index: 5;
    top: -25px;
    left: 50px;
    font-weight: 500;
    font-size: 20px;
    transform-origin: 0 75px;

    @include mobile {
      top: 0px;
      left: 50px;
      font-size: 16px;
      transform-origin: 0 50px;
    }

  }

  &__play {
    position: absolute;
    top: -19px;
    left: -11px;
    z-index: 5;


    svg path {
      transition: fill .3s;
    }

    @include hover {
      svg path {
        transition: fill .3s;
        fill: rgba(206, 255, 6, 0.89);
      }
    }

    @include xl {
      left: auto;
      right: -15px;

    }

    @include mobile {
      top: -13px;
      right: -16px;

      svg {
        width: 29px;
        height: 29px;
      }
    }
  }
}

@keyframes round-text-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
