.hero {
  padding-top: 100px;
  padding-bottom: 160px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    padding-top: 65px;
  }

  &__date {
    display: block;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 20px;
  }

  &__subject {
    display: flex;
    width: 500px;
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "FuturaPT";
    font-weight: 450;
    font-size: 48px;
    line-height: 50px;

    span {
      display: inline-block;
      margin-right: 30px;
      color: rgba(221, 255, 81, 1);
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 20px;
    color: rbga(#1E1E1F, 0.8);
  }

  &__buttons {
    display: flex;
    column-gap: 20px;
  }

  &__course {
    padding: 16px 78px;
  }

  &__programm {
    padding: 16px 52px;
  }

  &__picture {
    filter: drop-shadow(0px 0px 49px #CEFF06);
    border-radius: 10px;
  }

  &__image {
    position: relative;

    picture {
      display: flex;
    }
  }

  &__round {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    z-index: 100;
    animation: 6s linear 0s infinite round-text-animation;
  }

  &__letter {
    display: block;
    position: absolute;
    top: -25px;
    left: 50px;
    font-weight: 500;
    font-size: 20px;
    transform-origin: 0 74px;
  }

  &__play {
    position: absolute;
    top: -19px;
    left: -11px;
    z-index: 200;

    svg path {
      transition: all .3s;
    }

    @include hover {
      svg path {
        fill: rgba(206, 255, 6, 0.89);
      }
    }
  }
}

@keyframes round-text-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
