.reviews {
  padding-bottom: 160px;

  @include small-tablet {
    padding-bottom: 80px;
  }

  &__container {
    overflow: hidden;
  }

  &__title {
    font-weight: 450;
    font-size: 60px;

    @include small-tablet {
      font-size: 40px;
    }

    @include mini-mobile {
      font-size: 32px;
    }

    span {
      font-weight: 600;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 67px;

  }

  &__circle--black {
    position: relative;
    border-radius: 50%;
    margin-bottom: 62px;
    width: 726px;
    height: 726px;
    background-color: var(--black-color);


    .reviews__smile {
      position: absolute;
      display: flex;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include small-tablet {
      display: none;
    }
  }

  &__heart {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    animation: 7s linear 0s infinite heart-scale;

    &--left {
      top: 32.5%;
      left: 25.8%;
    }

    &--right {
      top: 32.5%;
      left: 42.8%;
    }
  }

  &__circle {
    content: "";
    position: absolute;
    top: 27px;
    left: 24px;
    width: 676px;
    height: 676px;
    transform: rotate(-90deg);
  }

  &__progressbar {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: var(--green-color);
    stroke-width: 36;
    transform: translate(20px, 20px);
    transform-origin: center;
    transition: all 4s;

    @include small-tablet {
      cx: 48%;
      cy: 48%;
      r: 250;

    }
  }

  &__circle--mobile {
    display: none;

    @include small-tablet{
      display: block;
      margin-bottom: 40px;
    }
  }

  &__btn {
    padding: 17px 55px;


    @include mobile {
      padding: 12px 20px;
    }
  }
}

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.28);
  }
  100% {
    transform: scale(1);
  }
}


