.tariffs {
  padding-bottom: 160px;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
  }
  &__item {
    width: 377px;
    height: 828px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  padding: 32px 0px 48px 27px;
  cursor: pointer;

  &__sale {
    position: absolute;
    top: -30px;
    right: 18px;
    border: 1px solid var(--black-color);
    border-radius: 6px;
    padding: 11px 7px;
    font-weight: 500;
    font-size: 32px;
    color: var(--white-color);
    background-color: var(--black-color);
    transform: rotate(20.34deg);
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-family: 'FuturaPT', sans-serif;
    font-weight: 450;
    font-size: 28px;
    color: var(--black-color);
  }


  &__prices {
    font-weight: 500;
    font-size: 20px;

    span {
      display: inline-block;
      padding: 0 6px;
      font-family: 'FuturaPT', sans-serif;
      font-weight: 600;
      font-size: 60px;
    }
  }

  &__installment {
    font-size: 12px;
    opacity: 0.8;
  }

  &__fullprices {
    display: inline-flex;
    margin-top: 32px;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 14px;
    color: var(--black-color);
  }

  &__price-box {
    margin-left: 1px;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
  }

  &__oldprice {
    position: relative;
    color: rgba(30, 30, 31, 0.6);

    &::before {
      content: "";
      position: absolute;
      bottom: 9px;
      width: 40px;
      height: 1px;
      background-color: var(--black-color);
      transform: rotate(-30.47deg);

    }
  }

  &__included {
    display: block;
    font-weight: 600;
    font-size: 14px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    // padding-left: 17px;
  }

  &__item {
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 12px;

    &--active {
      color: var(--black-color);

      .card__item + .card__item {
        margin-top: 11px;
      }
    }

    &--disabled {
      margin-top: 18px;
      color: rgba(30, 30, 31, 0.5);

      .card__item + .card__item {
        margin-top: 11px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 2px;
      width: 10px;
      height: 6px;
      background-image: url("../img/svg/marker.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__btn--centered {
    padding-right: 27px;
    text-align: center;
  }

  &__btn {
    padding: 15px 48px;
    font-weight: 600;
  }
}

.card-beginner {
  border: 2px solid var(--black-color);
  border-radius: 20px;
}

.card-experience {
  border: 3px solid rgba(206, 255, 6, 0.86);
  border-radius: 20px;
  background: linear-gradient(93.5deg, #DDFF51 4.85%, rgba(206, 255, 6, 0.89) 89.25%);
  box-shadow: 0px 0px 60px rgba(221, 255, 81, 0.63), 0px 6px 57px rgba(181, 181, 181, 0.25);
  transform: translateY(-72px);

  .card__sale {
    color: var(--black-color);
    background-color: var(--white-color);
  }

  .card__btn {
    @include hover {
      background: var(--white-color);
    }
  }
}

.card-pro {
  border: 3px solid var(--green-color);
  border-radius: 20px;
  background: linear-gradient(169.73deg, #323233 2.49%, #19191A 97.54%);

  .card__sale {
    color: var(--black-color);
    background-color: var(--green-color);
  }

  .card__title {
    color: var(--white-color);
  }

  .card__prices {
    color: var(--white-color);
  }

  .card__installment {
    color: rgba(255, 255, 255, 0.8);
  }

  .card__fullprices {
    color: var(--white-color);
  }

  .card__oldprice {
    color: rgba(255, 255, 255, 0.6);

    &:before {
      background-color: var(--white-color);
    }
  }

  .card__included {
    color: var(--white-color);
  }

  .card__item--active {
    color: var(--white-color);
  }

  .card__item {
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 2px;
      width: 10px;
      height: 6px;
      background-image: url("../img/svg/marker-white.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .card__btn {
    color: var(--black-color);
    background-color: var(--white-color);

    @include hover {
      border: 1px solid var(--black-color);
      background: linear-gradient(93.5deg, #DDFF51 4.85%, rgba(206, 255, 6, 0.89) 89.25%);
    }
  }
}
