.trainers {
  padding-bottom: 160px;

  &__container {
    position: relative;
  }

  &__title {
    span {
      color: var(--green-color);
    }
  }

  &__slider {
    margin-top: 65px;
  }

  &__slide {
    display: flex;
    justify-content: center;
    cursor: pointer;

  }

  &__content {
    position: relative;
  }

  &__image {
    position: relative;
    transition: all .3s;

    picture {
      display: flex;
    }
  }

  &__round {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 34px;
    right: 31px;
    z-index: 100;
    animation: 6s linear 0s infinite round-text-animation;
  }

  &__letter {
    position: absolute;
    left: 50px;
    font-family: "Muller";
    font-weight: 400;
    font-size: 15px;
    width: 11px;
    line-height: 23px;
    transform-origin: 0 50px;
    color: var(--white-color);
  }

  &__play {
    position: absolute;
    top: 70px;
    right: 65px;

    svg {
      width: 27px;
      height: 27px;

      path {
        fill: var(--white-color);
      }
    }
  }

  &__text {
    margin-top: 60px;

    strong {
      display: block;
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      transition: all .3s;

      &:hover {
        font-style: italic;
        color: var(--green-color);
      }
    }

    span {
      display: block;
      margin-top: 10px;
      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }

  }

  // &__buttons {
  //   position: relative;
  //   top: 50%;
  // }
}

.trainers-btn-prev {
  position: absolute;
  top: 343px;
  left: 353px;
  z-index: 50;

  svg circle {
    fill: transparent;
    transition: all .3s;
  }

  svg g {
    transition: all .3s;
  }

  @include hover {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }

  &:active {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }

  &:focus {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }
}


.trainers-btn-next {
  position: absolute;
  top: 343px;
  right: 351px;
  z-index: 50;

  svg circle {
    fill: transparent;
    transition: all .3s;
  }

  svg g {
    transition: all .3s;
  }

  @include hover {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }

  &:active {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }

  &:focus {
    svg circle {
      fill: rgba(206, 255, 6, 1);
      stroke: transparent;
    }

    svg g {
      opacity: 1;
    }
  }
}

.swiper-slide-active {
  opacity: 0.6;
  transition: all .3s;

  .trainers__round {
    display: none;
  }

  .trainers__play {
    display: none;
  }

  .trainers__text {
    display: none;
  }

  .trainers__content {
    width: 322px;
    transform: rotate(-13deg);
    transition: all .3s;
  }

  .trainers__image {
    transform: translate(25px, 140px);
    transition: all .3s;
  }
}

.swiper-slide-duplicate-prev {
  opacity: 0.6;
  transition: all .3s;

  .trainers__round {
    display: none;
  }

  .trainers__play {
    display: none;
  }

  .trainers__text {
    display: none;
  }

  .trainers__content {
    width: 322px;
    transform: rotate(13deg);
    transition: all .3s;
  }

  .trainers__image {
    transform: translate(-23px, 140px);
    transition: all .3s;
  }
}
