<section class="also">
  <div class="container also__container">
    <h3 class="also__title">А также</h3>
    <ul class="also__list list-reset">
      <li class="also__item" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="200" data-aos-once="true"
      data-aos-easing="ease-in-out">
        <div class="also__image">
          <picture class="also__picture">
            <source srcset="img/also-1.avif" type="image/avif">
            <source srcset="img/also-1.webp" type="image/webp">
            <img loading="lazy" src="img/also-1.png" class="also__img" width="178" height="178" alt="бонусный урок
            по танцам и боксу" aria-hidden="true">
          </picture>
          <span class="also__ellipse also__ellipse--one"></span>
          <span class="also__ellipse also__ellipse--two"></span>
          <span class="also__ellipse also__ellipse--three"></span>
        </div>
        <div class="also__text">
          <span>бонусный урок по танцам и боксу</span>
        </div>
      </li>
      <li class="also__item" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="400" data-aos-once="true"
      data-aos-easing="ease-in-out">
        <div class="also__image">
          <picture class="also__picture">
            <source srcset="img/also-2.avif" type="image/avif">
            <source srcset="img/also-2.webp" type="image/webp">
            <img loading="lazy" src="img/also-2.png" class="also__img" width="178" height="178" alt="денежные призы" aria-hidden="true">
          </picture>
          <span class="also__ellipse also__ellipse--one"></span>
          <span class="also__ellipse also__ellipse--two"></span>
          <span class="also__ellipse also__ellipse--three"></span>
        </div>
        <div class="also__text">
          <span>денежные призы</span>
        </div>
      </li>
      <li class="also__item" data-aos="fade-up"  data-aos-duration="500" data-aos-delay="600" data-aos-once="true"
      data-aos-easing="ease-in-out">
        <div class="also__image">
          <picture class="also__picture">
            <source srcset="img/also-3.avif" type="image/avif">
            <source srcset="img/also-3.webp" type="image/webp">
            <img loading="lazy" src="img/also-3.png" class="also__img" width="178" height="178" alt="видео-уроки
            по замене упражнений" aria-hidden="true">
          </picture>
          <span class="also__ellipse also__ellipse--one"></span>
          <span class="also__ellipse also__ellipse--two"></span>
          <span class="also__ellipse also__ellipse--three"></span>
        </div>
        <div class="also__text">
          <span>видео-уроки&nbsp; по замене упражнений</span>
        </div>
      </li>
    </ul>
  </div>
</section>
