<section class="content-course">
  <div class="container content-course__container">
    <h2 class="content-course__title main-title">Наполнение курса</h2>
    <div class="content-course__box">
      <div class="content-course__left">
        <ul class="content-course__list course__list list-reset">
          <li class="course__item">
            <span class="course__num">24+1</span>
            <span class="course__text">видео - тренировки</span>
          </li>
          <li class="course__item">
            <span class="course__num">10</span>
            <span class="course__text">профессиональных тренеров</span>
          </li>
          <li class="course__item">
            <span class="course__num">3</span>
            <span class="course__text">чек - листа</span>
          </li>
          <li class="course__item">
            <span class="course__num">15</span>
            <span class="course__text">полезных ссылок и статей</span>
          </li>
          <li class="course__item">
            <span class="course__num">5</span>
            <span class="course__text">оффлайн встреч</span>
          </li>
        </ul>
      </div>
      <div class="content-course__right">
        <picture class="content-course__picture">
          <source srcset="img/sphere.avif" type="image/avif">
          <source srcset="img/sphere.webp" type="image/webp">
          <img loading="lazy" src="img/sphere.png" class="content-course__img" width="696" height="713" alt="3Д сфера">
        </picture>
      </div>
    </div>
  </div>
</section>
