<section class="for">
  <div class="container for__container">
    <h2 class="for__title main-title">Это ты?</h2>
    <ul class="for__list list-reset" data-aos="section-for" data-aos-once="true">
      <li class="for__item">
        <div class="for__image">
          <picture class="for__picture">
            <source srcset="img/for-1.avif" type="image/avif">
            <source srcset="img/for-1.webp" type="image/webp">
            <img loading="lazy" src="img/for-1.png" class="for__img" width="303" height="303" alt="девочка с сердечками">
            <span class="for__ellipse for__ellipse--one"></span>
            <span class="for__ellipse for__ellipse--two"></span>
            <span class="for__ellipse for__ellipse--three"></span>
          </picture>
        </div>
        <div class="for__text">
          Хочешь похудеть, иметь <span>плоский живот</span> и <span>подтянутое тело</span>
        </div>
      </li>
      <li class="for__item">
        <div class="for__image">
          <picture class="for__picture">
            <source srcset="img/for-2.avif" type="image/avif">
            <source srcset="img/for-2.webp" type="image/webp">
            <img loading="lazy" src="img/for-2.png" class="for__img" width="303" height="303" alt="девочка плачет">
            <span class="for__ellipse for__ellipse--one"></span>
            <span class="for__ellipse for__ellipse--two"></span>
            <span class="for__ellipse for__ellipse--three"></span>
          </picture>
        </div>
        <div class="for__text">
          Кто так и <span>не дошел до</span> нужного <span>результата</span> на других марафонах
        </div>
      </li>
      <li class="for__item">
        <div class="for__image">
          <picture class="for__picture">
            <source srcset="img/for-3.avif" type="image/avif">
            <source srcset="img/for-3.webp" type="image/webp">
            <img loading="lazy" src="img/for-3.png" class="for__img" width="303" height="303" alt="девочка в очках">
            <span class="for__ellipse for__ellipse--one"></span>
            <span class="for__ellipse for__ellipse--two"></span>
            <span class="for__ellipse for__ellipse--three"></span>
          </picture>
        </div>
        <div class="for__text">
          Кто хочет нормализовать пищеварение и <span>правильно питаться</span>
        </div>
      </li>
      <li class="for__item">
        <div class="for__image">
          <picture class="for__picture">
            <source srcset="img/for-4.avif" type="image/avif">
            <source srcset="img/for-4.webp" type="image/webp">
            <img loading="lazy" src="img/for-4.png" class="for__img" width="303" height="303" alt="девочка с сердечками">
            <span class="for__ellipse for__ellipse--one"></span>
            <span class="for__ellipse for__ellipse--two"></span>
            <span class="for__ellipse for__ellipse--three"></span>
          </picture>
        </div>
        <div class="for__text">
          Кто <span>никогда не занимался</span> спортом и <span>хочет начать</span>
        </div>
      </li>
      <li class="for__item">
        <div class="for__image">
          <picture class="for__picture">
            <source srcset="img/for-5.avif" type="image/avif">
            <source srcset="img/for-5.webp" type="image/webp">
            <img loading="lazy" src="img/for-5.png" class="for__img" width="303" height="303" alt="парень радуется">
            <span class="for__ellipse for__ellipse--one"></span>
            <span class="for__ellipse for__ellipse--two"></span>
            <span class="for__ellipse for__ellipse--three"></span>
          </picture>
        </div>
        <div class="for__text">
          Кто хочет <span>набрать мышечную массу</span>
        </div>
      </li>
    </ul>
    <button class="scroll-top btn-reset"></button>
  </div>
</section>
