<section class="free">
  <div class="container free__container">
    <h2 class="free__title main-title">Попробуй и убедись!</h2>
    <span class="free__text">Бесплатная тренировка на все тело</span>
    <div class="free__center">
      <div class="free__image">
        <picture class="free__picture">
          <source srcset="img/free.avif" type="image/avif">
          <source srcset="img/free.webp" type="image/webp">
          <img loading="lazy" src="img/free.png" class="free__img" width="615" height="622" alt="" aria-hidden="true">
        </picture>
        <div class="free__background"></div>
        <div class="free__round">
          <div class="free__letters">смотреть</div>
        </div>
        <div class="free__play">
          <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z"
              fill="#1E1E1F" />
          </svg>
        </div>
      </div>
    </div>
    <div class="free__buttons">
      <button class="free__trains btn-reset btn btn--black">Выполнил тренировку</button>
      <a class="free__tariffs btn-reset btn btn--white" href="#tariffs">Перейти к тарифам</a>
    </div>
  </div>
</section>
