<header class="header">
  <div class="container header__container">
    <a class="header__logo logo" href="#">ОРЕХ</a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#marathon">Программа</a></li>
        <li class="nav__item"><a class="nav__link" href="#trainers">Наша команда</a></li>
        <li class="nav__item"><a class="nav__link" href="#tariffs">Тарифы</a></li>
        <li class="nav__item"><a class="nav__link" href="#reviews">Отзывы</a></li>
        <li class="nav__item"><a class="nav__link" href="#questions">FAQ</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts">Контакты</a></li>
      </ul>
    </nav>
    <button class="header__btn btn-reset btn--white">Напишите мне</button>
  </div>
</header>
