<header class="header">
  <div class="container header__container">
    <a class="header__logo logo" href="#">ОРЕХ</a>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#marathon" data-menu-item>Программа</a></li>
        <li class="nav__item"><a class="nav__link" href="#trainers" data-menu-item>Наша команда</a></li>
        <li class="nav__item"><a class="nav__link" href="#tariffs" data-menu-item>Тарифы</a></li>
        <li class="nav__item"><a class="nav__link" href="#reviews" data-menu-item>Отзывы</a></li>
        <li class="nav__item"><a class="nav__link" href="#questions" data-menu-item>FAQ</a></li>
        <li class="nav__item"><a class="nav__link" href="#contacts" data-menu-item>Контакты</a></li>
      </ul>
    </nav>
    <button class="header__btn btn-reset btn--white">Напишите мне</button>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
