<header class="header">
  <div class="container header__container">
    <a class="header__logo logo" href="#">ОРЕХ</a>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link" href="#" data-scroll>Программа</a></li>
        <li class="nav__item"><a class="nav__link" href="#trainers" data-scroll>Наша команда</a></li>
        <li class="nav__item"><a class="nav__link" href="#tariffs" data-scroll>Тарифы</a></li>
        <li class="nav__item"><a class="nav__link" href="#reviews" data-scroll>Отзывы</a></li>
        <li class="nav__item"><a class="nav__link" href="#questions" data-scroll>FAQ</a></li>
        <li class="nav__item"><a class="nav__link" href="#" data-scroll>Контакты</a></li>
      </ul>
    </nav>
    <button class="header__btn btn-reset btn--white">Напишите мне</button>
  </div>
</header>
