<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <span class="hero__date">Cтарт курса - 2 сентября</span>
      <div class="hero__subject">
        <h3 class="hero__title">
          <span class="hero__title-box">
            Cоздай <span class="hero__title--green">тело мечты</span>
          </span>
          <span class="hero__title-box">
            за 2 месяца тренировок
          </span>
        </h3>
      </div>
      <p class="hero__descr">
        Запишись сейчас и получи в подарок гайд по питанию
      </p>
      <div class="hero__buttons">
        <button class="hero__course btn-reset btn btn--black">Хочу на курс</button>
        <button class="hero__programm btn-reset btn btn--white">Программа курса</button>
      </div>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero.avif" type="image/avif">
        <source srcset="img/hero.webp" type="image/webp">
        <img loading="lazy" src="img/hero.png" class="hero__picture" width="476" height="514" alt="О курсе" aria-hidden="true">
      </picture>
      <div class="hero__round round">
        <div class="hero__round-text round__text">о курсе</div>
      </div>
      <div class="hero__play">
        <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z" fill="#1E1E1F"/>
          </svg>
      </div>
    </div>
  </div>
</section>
