<section class="hero">
  <div class="container hero__container">
    <div class="hero__text">
      <span class="hero__date">Cтарт курса - 2 сентября</span>
      <div class="hero__subject">
        <h3 class="hero__title">Cоздай <span>тело мечты</span> за 2 месяца тренировок</h3>
      </div>
      <p class="hero__descr">
        Запишись сейчас и получи в подарок гайд по питанию
      </p>
      <div class="hero__buttons">
        <button class="hero__course btn-reset btn--black">Хочу на курс</button>
        <button class="hero__programm btn-reset btn--white">Программа курса</button>
      </div>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero.avif" type="image/avif">
        <source srcset="img/hero.webp" type="image/webp">
        <img loading="lazy" src="img/hero.png" class="hero__picture" width="476" height="514" alt="О курсе">
      </picture>
    </div>
  </div>
</section>
