<section class="marathon" id="marathon">
  <div class="container marathon__container">
    <h2 class="marathon__title main-title">Что получишь на марафоне?</h2>
    <span class="marathon__subtitle">Какие последствия у тебя будут во время / после прохождения курса</span>
    <div class="marathon__content">
      <div class="marathon__left">
        <div class="marathon__circle">
          <div class="marathon__number marathon__number--active" tabindex="0"></div>
          <div class="marathon__number" tabindex="0"></div>
          <div class="marathon__number" tabindex="0"></div>
          <div class="marathon__number" tabindex="0"></div>
          <div class="marathon__number" tabindex="0"></div>
        </div>
      </div>
      <div class="marathon__right">
        <span class="marathon__text marathon__text--active">Программа тренировок</span>
        <span class="marathon__text">Мотивация и поддержка</span>
        <span class="marathon__text">Рекомендации по питанию</span>
        <span class="marathon__text">Полезные статьи и материалы</span>
        <span class="marathon__text">Денежные призы каждый месяц при продлении подписки</span>
      </div>
    </div>
  </div>
</section>
