<section class="questions" id="questions">
  <div class="container questions__container">
    <h2 class="questions__title main-title">
      6 <span>частозадаваемых</span> вопросов
    </h2>
    <ul class="questions__list list-reset accordion">
      <li class="accordion__item">
        <div class="accordion__top">
          <strong class="accordion__title">Нужен ли инвентарь для тренировок?</strong>
          <button class="accordion__btn btn-reset"></button>
        </div>
        <div class="accordion__bottom dropdown">
          <span>Можно работать с собственным весом.</span>
          <span>Но эффективней будет приобрести минимальный инвентарь:</span>
          <ul class="dropdown__list list-reset">
            <li class="dropdown__item">Коврик для фитнеса</li>
            <li class="dropdown__item">Фитнес - резинки</li>
            <li class="dropdown__item">Набор разборных гантелей</li>
            <li class="dropdown__item">Ролик и мячики для МФР</li>
          </ul>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__top">
          <strong class="accordion__title">Нужен ли инвентарь для тренировок?</strong>
          <button class="accordion__btn btn-reset"></button>
        </div>
        <div class="accordion__bottom dropdown">
          <span>Можно работать с собственным весом.</span>
          <span>Но эффективней будет приобрести минимальный инвентарь:</span>
          <ul class="dropdown__list list-reset">
            <li class="dropdown__item">Коврик для фитнеса</li>
            <li class="dropdown__item">Фитнес - резинки</li>
            <li class="dropdown__item">Набор разборных гантелей</li>
            <li class="dropdown__item">Ролик и мячики для МФР</li>
          </ul>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__top">
          <strong class="accordion__title">Нужен ли инвентарь для тренировок?</strong>
          <button class="accordion__btn btn-reset"></button>
        </div>
        <div class="accordion__bottom dropdown">
          <span>Можно работать с собственным весом.</span>
          <span>Но эффективней будет приобрести минимальный инвентарь:</span>
          <ul class="dropdown__list list-reset">
            <li class="dropdown__item">Коврик для фитнеса</li>
            <li class="dropdown__item">Фитнес - резинки</li>
            <li class="dropdown__item">Набор разборных гантелей</li>
            <li class="dropdown__item">Ролик и мячики для МФР</li>
          </ul>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__top">
          <strong class="accordion__title">Нужен ли инвентарь для тренировок?</strong>
          <button class="accordion__btn btn-reset"></button>
        </div>
        <div class="accordion__bottom dropdown">
          <span>Можно работать с собственным весом.</span>
          <span>Но эффективней будет приобрести минимальный инвентарь:</span>
          <ul class="dropdown__list list-reset">
            <li class="dropdown__item">Коврик для фитнеса</li>
            <li class="dropdown__item">Фитнес - резинки</li>
            <li class="dropdown__item">Набор разборных гантелей</li>
            <li class="dropdown__item">Ролик и мячики для МФР</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
