<section class="questions" id="questions">
  <div class="container questions__container">
    <h2 class="questions__title main-title">
      6 <span>частозадаваемых</span> вопросов
    </h2>
    <div class="questions__content">
      <div class="questions__left accordion">
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">Нужен ли инвентарь для тренировок?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert" aria-hidden="true">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">Могу ли я заморозить абонемент?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert" aria-hidden="true">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">Есть ли противопоказания?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="questions__right accordion">
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">Смогу ли я поменять тариф в процессе обучения?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert" aria-hidden="true">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">С какого возраста лучше тренироваться?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert" aria-hidden="true">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
        <div class="questions__item">
          <button class="accordion__top btn-reset" aria-label="Открыть ответ" aria-expanded="false">
            <strong class="accordion__title">Можно ли взять курс в рассрочку?</strong>
            <span class="accordion__btn btn-reset"></span>
          </button>
          <div class="accordion__bottom dropdown" role="alert" aria-hidden="true">
            <span>Можно работать с собственным весом.</span>
            <span>Но эффективней будет приобрести минимальный инвентарь:</span>
            <ul class="dropdown__list list-reset">
              <li class="dropdown__item">Коврик для фитнеса</li>
              <li class="dropdown__item">Фитнес - резинки</li>
              <li class="dropdown__item">Набор разборных гантелей</li>
              <li class="dropdown__item">Ролик и мячики для МФР</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="questions__box--end">
      <button class="questions__btn btn-reset btn btn--black">Задать вопрос</button>
    </div>
  </div>
</section>
