<section class="reviews" id="reviews">
  <div class="container reviews__container" data-scrolling="progressbar-animation">
    <h2 class="reviews__title main-title">
      <span>93% учеников</span> продляют курс
    </h2>
    <div class="reviews__content">
      <div class="reviews__circle--black">
        <svg class="reviews__circle">
          <circle class="reviews__progressbar" cx="319" cy="319" r="319"></circle>
        </svg>
        <picture class="reviews__smile">
          <source srcset="img/smile.avif" type="image/avif" />
          <source srcset="img/smile.webp" type="image/webp" />
          <img loading="lazy" src="img/smile.png" class="image" width="338" height="338" alt="Смайлик с сердечками" aria-hidden="true">
        </picture>
        <picture class="reviews__heart reviews__heart--left">
          <source srcset="img/heart1.avif" type="image/avif">
          <source srcset="img/heart1.webp" type="image/webp">
          <img loading="lazy" src="img/heart1.png" class="image" width="230" height="230" alt="Сердечко" aria-hidden="true">
        </picture>
        <picture class="reviews__heart reviews__heart--right">
          <source srcset="img/heart2.avif" type="image/avif">
          <source srcset="img/heart2.webp" type="image/webp">
          <img loading="lazy" src="img/heart2.png" class="image" width="230" height="230" alt="Сердечко" aria-hidden="true">
        </picture>
      </div>
      <picture class="reviews__circle--mobile">
        <source srcset="img/circle-mobile.avif" type="image/avif">
        <source srcset="img/circle-mobile.webp" type="image/webp">
        <img loading="lazy" src="img/circle-mobile.png" class="image" width="539" height="539" alt="Сердечко" aria-hidden="true">
      </picture>
      <button class="reviews__btn btn btn-reset btn--black">Смотреть отзывы</button>
    </div>
  </div>
</section>
