<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title main-title">
      <span>93% учеников</span> продляют курс
    </h2>
    <div class="reviews__content">
      <div class="reviews__circle--black">
        <svg class="reviews__circle">
          <circle class="reviews__progressbar" cx="319" cy="319" r="319"></circle>
        </svg>
        <picture>
          <source srcset="img/smile.avif" type="image/avif">
          <source srcset="img/smile.webp" type="image/webp">
          <img loading="lazy" src="img/smile.png" class="image" width="338" height="338" alt="Смайлик с сердечками">
        </picture>
      </div>
      <a class="reviews__link btn--black" href="">Смотреть отзывы</a>
    </div>
  </div>
</section>
