<section class="tariffs" id="tariffs">
  <div class="container tariffs__container">
    <h2 class="tariffs__title main-title">Тарифы</h2>
    <ul class="tariffs__list list-reset" data-aos="custom" data-aos-once="true">
      <li class="tariffs__item card card-beginner">
        <span class="card__sale">-10%</span>
        <div class="card__inner">
          <h4 class="card__title">Начинающий</h4>
          <div class="card__prices">
            от <span>1100</span> руб/мес
          </div>
          <span class="card__installment">Вы можете выбрать рассрочку на 3/6 месяцев без %</span>
          <div class="card__fullprices">
            Полная стоимость:
            <div class="card__price-box">
              <span class="card__oldprice">8 000 руб</span>
              <span class="card__newprice">6 600 руб</span>
            </div>
          </div>
          <strong class="card__included">Что входит в тариф:</strong>
          <ul class="card__list list-reset">
            <li class="card__items card__items--active">
              <div class="card__item">25 тренировок “Повторяй за мной”</div>
              <div class="card__item">доступ к курсу на 1 месяц</div>
              <div class="card__item">чек-листы по каждой тренировке</div>
              <div class="card__item">нужные ссылки и статьи</div>
              <div class="card__item">гайд “Рецепты за 5 мин”</div>
            </li>
            <li class="card__items card__items--disabled">
              <div class="card__item">участие в конкурсе с денежными призами</div>
              <div class="card__item">доступ в чаты с кураторами</div>
              <div class="card__item">персональные упражнения на группу мышц по выбору</div>
              <div class="card__item">выбор пола тренера для занятий</div>
              <div class="card__item">оффлайн встречи</div>
              <div class="card__item">гайд по увеличению эффективности тренировок</div>
              <div class="card__item">личное ведение куратором</div>
              <div class="card__item">участие в поездках на активный отдых </div>
              <div class="card__item">закрытые эфиры</div>
              <div class="card__item">сеансы с нутрициологом и психологом</div>
            </li>
          </ul>
        </div>
        <div class="card__btn--centered">
          <button class="card__btn btn-reset btn btn--black">Хочу на курс</button>
        </div>
      </li>
      <li class="tariffs__item card card-experience">
        <span class="card__sale">-10%</span>
        <div class="card__inner">
          <h4 class="card__title">На опыте</h4>
          <div class="card__prices">
            от <span>1250</span> руб/мес
          </div>
          <span class="card__installment">Вы можете выбрать рассрочку на 3/6 месяцев без %</span>
          <div class="card__fullprices">
            Полная стоимость:
            <div class="card__price-box">
              <span class="card__oldprice">18 000 руб</span>
              <span class="card__newprice">15 000 руб</span>
            </div>
          </div>
          <strong class="card__included">Что входит в тариф:</strong>
          <ul class="card__list list-reset">
            <li class="card__items card__items--active">
              <div class="card__item">25 тренировок “Повторяй за мной”</div>
              <div class="card__item">доступ к курсу на 1 месяц</div>
              <div class="card__item">чек-листы по каждой тренировке</div>
              <div class="card__item">нужные ссылки и статьи</div>
              <div class="card__item">гайд “Рецепты за 5 мин”</div>
              <div class="card__item">участие в конкурсе с денежными призами</div>
              <div class="card__item">доступ в чаты с кураторами</div>
              <div class="card__item">персональные упражнения на группу мышц по выбору</div>
              <div class="card__item">выбор пола тренера для занятий</div>
            </li>
            <li class="card__items card__items--disabled">
              <div class="card__item">оффлайн встречи</div>
              <div class="card__item">гайд по увеличению эффективности тренировок</div>
              <div class="card__item">личное ведение куратором</div>
              <div class="card__item">участие в поездках на активный отдых </div>
              <div class="card__item">закрытые эфиры</div>
              <div class="card__item">сеансы с нутрициологом и психологом</div>
            </li>
          </ul>
        </div>
        <div class="card__btn--centered">
          <button class="card__btn btn-reset btn btn--black">Хочу на курс</button>
        </div>
      </li>
      <li class="tariffs__item card card-pro">
        <span class="card__sale">-10%</span>
        <div class="card__inner">
          <h4 class="card__title">Профи</h4>
          <div class="card__prices">
            от <span>2080</span> руб/мес
          </div>
          <span class="card__installment">Вы можете выбрать рассрочку на 3/6 месяцев без %</span>
          <div class="card__fullprices">
            Полная стоимость:
            <div class="card__price-box">
              <span class="card__oldprice">30 000 руб</span>
              <span class="card__newprice">25 000 руб</span>
            </div>
          </div>
          <strong class="card__included">Что входит в тариф:</strong>
          <ul class="card__list list-reset">
            <li class="card__items card__items--active">
              <div class="card__item">25 тренировок “Повторяй за мной”</div>
              <div class="card__item">доступ к курсу на 1 месяц</div>
              <div class="card__item">чек-листы по каждой тренировке</div>
              <div class="card__item">нужные ссылки и статьи</div>
              <div class="card__item">гайд “Рецепты за 5 мин”</div>
              <div class="card__item">участие в конкурсе с денежными призами</div>
              <div class="card__item">доступ в чаты с кураторами</div>
              <div class="card__item">персональные упражнения на группу мышц по выбору</div>
              <div class="card__item">выбор пола тренера для занятий</div>
              <div class="card__item">оффлайн встречи</div>
              <div class="card__item">гайд по увеличению эффективности тренировок</div>
              <div class="card__item">личное ведение куратором</div>
              <div class="card__item">участие в поездках на активный отдых </div>
              <div class="card__item">закрытые эфиры</div>
              <div class="card__item">сеансы с нутрициологом и психологом</div>
            </li>
          </ul>
        </div>
        <div class="card__btn--centered">
          <button class="card__btn btn-reset btn btn--white">Хочу на курс</button>
        </div>
      </li>
    </ul>
  </div>
</section>
