<section class="trainers" id="trainers">
  <div class="container trainers__container">
    <h2 class="trainers__title main-title">
      Наши <span>огненные</span> тренера
    </h2>
    <div class="swiper trainers__slider">
      <button class="trainers-btn-prev btn-reset">
        <svg width="79" height="79" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.6">
          <circle r="39" transform="matrix(-1 0 0 1 39.5 39.5)" stroke="#1E1E1F"/>
          <path d="M18.8437 40.2227C18.6484 40.0274 18.6484 39.7108 18.8437 39.5156L22.0256 36.3336C22.2209 36.1383 22.5375 36.1383 22.7327 36.3336C22.928 36.5289 22.928 36.8455 22.7327 37.0407L19.9043 39.8691L22.7327 42.6976C22.928 42.8928 22.928 43.2094 22.7327 43.4047C22.5375 43.5999 22.2209 43.5999 22.0256 43.4047L18.8437 40.2227ZM59.8047 40.3691H19.1972V39.3691H59.8047V40.3691Z" fill="#1E1E1F"/>
          </g>
          </svg>
      </button>
      <button class="trainers-btn-next btn-reset">
        <svg width="79" height="79" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.6">
          <circle cx="39.5" cy="39.5" r="39" stroke="#1E1E1F"/>
          <path d="M60.1563 40.2227C60.3516 40.0274 60.3516 39.7108 60.1563 39.5156L56.9744 36.3336C56.7791 36.1383 56.4625 36.1383 56.2673 36.3336C56.072 36.5289 56.072 36.8455 56.2673 37.0407L59.0957 39.8691L56.2673 42.6976C56.072 42.8928 56.072 43.2094 56.2673 43.4047C56.4625 43.5999 56.7791 43.5999 56.9744 43.4047L60.1563 40.2227ZM19.1953 40.3691H59.8028V39.3691H19.1953V40.3691Z" fill="#1E1E1F"/>
          </svg>

      </button>
      <div class="swiper-wrapper trainers__wrapper">
        <div class="swiper-slide trainers__slide">
          <div class="trainers__content">
            <div class="trainers__image">
              <picture>
                <source srcset="img/trainers-1.avif" type="image/avif">
                <source srcset="img/trainers-1.webp" type="image/webp">
                <img loading="lazy" src="img/trainers-1.png" class="image" width="416" height="488"
                  alt="Тренер Наталья">
              </picture>
              <div class="trainers__round">
                <div class="trainers__letters">подробнее</div>
              </div>
              <div class="trainers__play">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z"
                    fill="#1E1E1F" />
                </svg>
              </div>
            </div>
            <div class="trainers__text">
              <strong>Наталья Наталья</strong>
              <span>Тренер по силовым тренировкам</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide trainers__slide">
          <div class="trainers__content">
            <div class="trainers__image">
              <picture>
                <source srcset="img/trainers-1.avif" type="image/avif">
                <source srcset="img/trainers-1.webp" type="image/webp">
                <img loading="lazy" src="img/trainers-1.png" class="image" width="416" height="488"
                  alt="Тренер Наталья">
              </picture>
              <div class="trainers__round">
                <div class="trainers__letters">подробнее</div>
              </div>
              <div class="trainers__play">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z"
                    fill="#1E1E1F" />
                </svg>
              </div>
            </div>
            <div class="trainers__text">
              <strong>Наталья Наталья</strong>
              <span>Тренер по силовым тренировкам</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide trainers__slide">
          <div class="trainers__content">
            <div class="trainers__image">
              <picture>
                <source srcset="img/trainers-1.avif" type="image/avif">
                <source srcset="img/trainers-1.webp" type="image/webp">
                <img loading="lazy" src="img/trainers-1.png" class="image" width="416" height="488"
                  alt="Тренер Наталья">
              </picture>
              <div class="trainers__round">
                <div class="trainers__letters">подробнее</div>
              </div>
              <div class="trainers__play">
                <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z"
                    fill="#1E1E1F" />
                </svg>
              </div>
            </div>
            <div class="trainers__text">
              <strong>Наталья Наталья</strong>
              <span>Тренер по силовым тренировкам</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
