<section class="trial" id="trial">
  <div class="container trial__container">
    <h2 class="trial__title main-title">Попробуй тренироваться с нами!</h2>
    <div class="trial__content">
      <div class="trial__left">
        <div class="trial__image free__image">
          <picture class="trial__picture free__picture">
            <source srcset="img/free.avif" type="image/avif">
            <source srcset="img/free.webp" type="image/webp">
            <img loading="lazy" src="img/free.png" class="free__img" width="615" height="622" alt="Мужчина, занимающийся спортом" aria-hidden="true">
          </picture>
          <div class="trial__background free__background"></div>
          <div class="trial__round free__round">
            <div class="trial__letters free__letters">смотреть</div>
          </div>
          <div class="trial__play free__play">
            <svg width="33" height="37" viewBox="0 0 33 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M32.3154 18.2116C32.6188 18.3868 32.6188 18.8247 32.3154 18.9999L11.998 30.7301L2.55342 36.183C1.68046 36.687 0.589256 36.057 0.589256 35.049L0.589256 2.16256C0.589256 1.15454 1.68046 0.524539 2.55342 1.02855L32.3154 18.2116Z"
                fill="#1E1E1F" />
            </svg>
          </div>
        </div>
      </div>
      <div class="trial__right">
        <span class="trial__text">Netus pulvinar urna, vulputate viverra pharetra lectus risus risus mi. Iaculis sed justo, fermentum</span>
        <div class="trial__buttons">
          <button class="trial__train btn-reset btn btn--black">Пробная тренировка</button>
          <button class="trial__programm btn-reset btn btn--white">Перейти к программе</button>
        </div>
      </div>
    </div>
  </div>
</section>
