html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  color: var(--black-color);
  background-color: var(--white-color);
  overflow-x: hidden;
  overflow-anchor: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

// .site-container {
//   overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
// }

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include big-desktop {
    padding: 0px 50px;
  }

  @include tablet {
    padding: 0 25px;
  }

  @include mobile {
    padding: 0 15px;
  }

  @include mini-mobile {
    padding: 0 10px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn--black {
  display: inline-block;
  border-radius: 28.5px;
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
  background: transparent;
  background-color: var(--black-color);
  transition: all .4s;

  &:hover {
    color: var(--black-color);
    background: linear-gradient(93.5deg, #DDFF51 4.85%, rgba(206, 255, 6, 0.89) 89.25%);
  }

  &:focus {
    outline: none;
    color: var(--black-color);
    background: linear-gradient(93.5deg, #DDFF51 4.85%, rgba(206, 255, 6, 0.89) 89.25%);
  }

  &:active {
    outline: none;
    color: var(--black-color);
    background: linear-gradient(93.5deg, #DDFF51 4.85%, rgba(206, 255, 6, 0.89) 89.25%);
  }
}

.btn--white {
  display: inline-block;
  border: 1px solid #1E1E1F;
  border-radius: 28.5px;
  font-weight: 500;
  font-size: 20px;
  color: var(--black-color);
  background: transparent;
  background-color: transparent;
  transition: all .3s;

  &:hover {
    border: 1px solid var(--green-color);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--green-color);
  }

  &:active {
    border: 1px solid var(--green-color);
  }
}

.main-title {
  margin: 0;
  font-family: 'FuturaPT';
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;

  @include small-tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 40px;
  }

  @include mini-mobile {
    font-size: 32px;
  }
}

.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 1000;
  display: block;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  background: linear-gradient(93.5deg, #DDFF51 4.85%,
  rgba(206, 255, 6, 0.89) 89.25%);
  box-shadow: 0px 0px 19px rgba(156, 156, 156, 0.25);
  visibility: hidden;
  opacity: 0;
  transform: translateY(25px);
  transition: all .5s;

  &:hover {
    box-shadow: 0px 0px 19px rgba(140, 255, 50, 0.72);
  }

  &:active {
    box-shadow: 0px 0px 19px rgba(140, 255, 50, 0.72);
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/svg/arrow-top.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  @include small-tablet {
    width: 60px;
    height: 60px;

    &::before {
      width: 25px;
      height: 25px;
    }
  }
}
