:root {
  // base
  --font-family: "Gilroy", sans-serif;
  --content-width: 1170px;
  --container-offset: 135px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #1E1E1F;
  --green-color: #DDFF51;
}
